* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$background: #ffffff;
$header-color: #2b2b2b;
$odd-color: #111111;
$even-color: #171717;
$input-color: #090909;
$text-color: #919090;

$input-area-background: #1d1d1d;

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: $background;
}

//
// NAME-INPUT
//

#name-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

//
// STREAM-CHAT
//

$header-text-color: #eeeeee;
#stream-chat {
  h1 {
    background: $header-color;
    color: $header-text-color;
    text-align: center;
    font-weight: 300;
    padding: 1rem;
  }

  margin: 10px;
  min-width: 500px;
  max-width: 600px;
  width: 80%;
  min-height: 500px;
  max-height: 600px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

//
// INPUT-AREA
//

#input-area {
  display: flex;
  min-height: 175px;
  flex-direction: column;
  background: $input-area-background;
  padding: 15px;
}

$button-background: #632f9f;
#send {
  align-self: flex-end;
  padding: 8px 15px;
  margin: 3px;
  background: $button-background;
  border: none;
  color: #f8ebec;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px 0px darken($button-background, 10%);
}

$input-border-color: #282828;
#input {
  flex-grow: 1;
  padding: 8px;
  border: 5px solid $input-border-color;
  flex-grow: 1;
  background: $input-color;
  color: $text-color;
  margin-bottom: 0.7em;
  resize: none;

  &:focus {
    outline: none;
  }
}

//
// MESSAGES
//

$time-stamp-color: #626a6f;
$message-text-color: #bbb7ab;
$messages-padding-left: 12px;
#messages {
  min-height: 500px;
  background: linear-gradient(to bottom, $header-color, $input-area-background);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: $messages-padding-left;

  .even {
    background: $even-color;
  }

  .odd {
    background: $odd-color;
  }

  .message {
    padding: 3px 5px;

    .timestamp {
      color: $time-stamp-color;
      margin-right: 0.1em;
    }

    .name {
      padding: 0 8px;
      font-weight: 900;
    }

    .text {
      margin-left: 0.1em;
      color: $message-text-color;
    }
  }
}

.overflow {
  overflow-y: scroll;
}

//
// SCROLL-BAR
//

::-webkit-scrollbar {
  width: $messages-padding-left;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: lighten(#2b2b2b, 20%);
}

::-webkit-scrollbar,
::-webkit-scrollbar-button,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  background: #2b2b2b;
}

// DESCRIPTION

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f4f3f0;
  min-height: 100px;
  width: 100vw;

  h1 {
    color: #404040;
    text-align: center;
  }

  p {
    color: #555555;
  }
}

#description {
  background: #404040;
  color: #999999;
  min-height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    color: lighten(#999999, 15%);

    &:hover {
      color: lighten(#999999, 35%);
    }
  }
}
